[package]
distribution = "2201.8.0"
org = "ballerinax"
name = "salesforce"
version = "@toml.version@"
export = ["salesforce", "salesforce.bulk", "salesforce.soap","salesforce.bulkv2", "salesforce.apex"]
license= ["Apache-2.0"]
authors = ["Ballerina"]
keywords = ["Sales & CRM/Customer Relationship Management", "Cost/Freemium"]
icon = "icon.png"
repository = "https://github.com/ballerina-platform/module-ballerinax-sfdc"

[build-options]
observabilityIncluded = true

[platform.java17]
graalvmCompatible = true

[[platform.java17.dependency]]
path = "../native/build/libs/salesforce-native-@project.version@.jar"
groupId = "io.ballerinax"
artifactId = "salesforce"
version = "@project.version@"

[[platform.java17.dependency]]
groupId = "com.opencsv"
artifactId = "opencsv"
version = "@opencsv.version@"
path = "./lib/opencsv-@opencsv.version@.jar"

[[platform.java17.dependency]]
groupId = "org.cometd.java"
artifactId = "bayeux-api"
version = "@cometd.java.client.version@"
path = "./lib/bayeux-api-@cometd.java.client.version@.jar"

[[platform.java17.dependency]]
groupId = "org.cometd.java"
artifactId = "cometd-java-client"
version = "@cometd.java.client.version@"
path = "./lib/cometd-java-client-@cometd.java.client.version@.jar"

[[platform.java17.dependency]]
groupId = "org.cometd.java"
artifactId = "cometd-java-common"
version = "@cometd.java.client.version@"
path = "./lib/cometd-java-common-@cometd.java.client.version@.jar"

[[platform.java17.dependency]]
groupId = "org.eclipse.jetty"
artifactId = "jetty-client"
version = "@jetty.version@"
path = "./lib/jetty-client-@jetty.version@.jar"

[[platform.java17.dependency]]
groupId = "org.eclipse.jetty"
artifactId = "jetty-http"
version = "@jetty.version@"
path = "./lib/jetty-http-@jetty.version@.jar"

[[platform.java17.dependency]]
groupId = "org.eclipse.jetty"
artifactId = "jetty-io"
version = "@jetty.version@"
path = "./lib/jetty-io-@jetty.version@.jar"

[[platform.java17.dependency]]
groupId = "org.eclipse.jetty"
artifactId = "jetty-util"
version = "@jetty.version@"
path = "./lib/jetty-util-@jetty.version@.jar"

[[platform.java17.dependency]]
groupId = "org.eclipse.jetty"
artifactId = "jetty-util-ajax"
version = "@jetty.version@"
path = "./lib/jetty-util-ajax-@jetty.version@.jar"

[[platform.java17.dependency]]
groupId = "org.json"
artifactId = "json"
version = "@json.version@"
path = "./lib/json-@json.version@.jar"

[[platform.java17.dependency]]
groupId = "com.fasterxml.jackson.core"
artifactId = "jackson-databind"
version = "@jackson.databind.version@"
path = "./lib/jackson-databind-@jackson.databind.version@.jar"

[[platform.java17.dependency]]
groupId = "com.fasterxml.jackson.core"
artifactId = "jackson-annotations"
version = "@jackson.annotations.version@"
path = "./lib/jackson-annotations-@jackson.annotations.version@.jar"

[[platform.java17.dependency]]
groupId = "com.fasterxml.jackson.core"
artifactId = "jackson-core"
version = "@jackson.core.version@"
path = "./lib/jackson-core-@jackson.core.version@.jar"
