[package]
distribution = "2201.8.0"
org = "ballerinax"
name = "salesforce"
version = "8.0.2"
export = ["salesforce", "salesforce.bulk", "salesforce.soap","salesforce.bulkv2", "salesforce.apex"]
license= ["Apache-2.0"]
authors = ["Ballerina"]
keywords = ["Sales & CRM/Customer Relationship Management", "Cost/Freemium"]
icon = "icon.png"
repository = "https://github.com/ballerina-platform/module-ballerinax-sfdc"

[build-options]
observabilityIncluded = true

[platform.java17]
graalvmCompatible = true

[[platform.java17.dependency]]
path = "../native/build/libs/salesforce-native-8.0.2.jar"
groupId = "io.ballerinax"
artifactId = "salesforce"
version = "8.0.2"

[[platform.java17.dependency]]
groupId = "com.opencsv"
artifactId = "opencsv"
version = "5.9"
path = "./lib/opencsv-5.9.jar"
