# This is a basic workflow to help you get started with Actions

name: Deployment

# Controls when the action will run.
# Triggers the workflow on release.
on:
  release:
    types:  [published]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Set up Java Environment
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      # Setup Ballerina Environment
      - name: Set Up Ballerina
        uses: ballerina-platform/setup-ballerina@v1.1.0
        with:
          version: latest

      # Grant execute permission to the gradlew script
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Build the project with Gradle
      - name: Build with Gradle
        env:
          packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
          packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
          JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true
        run: |
          ./gradlew build

      # Perform Trivy scan
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'rootfs'
          scan-ref: '.'
          format: 'table'
          timeout: '10m0s'
          exit-code: '1'
          
      # Build Ballerina Project
      - name: Ballerina Build
        uses: ballerina-platform/ballerina-action/@2201.7.0
        with:
          args:
            pack ./salesforce
        env:
          JAVA_HOME: /usr/lib/jvm/default-jvm

      # Push to Ballerina Central
      - name: Ballerina Push
        uses: ballerina-platform/ballerina-action/@2201.7.0
        with:
          args:
            push
        env:
          BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BALLERINA_CENTRAL_ACCESS_TOKEN }}
          WORKING_DIR: ./salesforce
          JAVA_HOME: /usr/lib/jvm/default-jvm
