name: Publish Release

on:
  workflow_dispatch:

jobs:
  call_workflow:
    name: Run Release Workflow
    if: ${{ github.repository_owner == 'ballerina-platform' }}
    uses: ballerina-platform/ballerina-standard-library/.github/workflows/release-package-connector-template.yml@main
    secrets: inherit
    with:
      package-name: salesforce
      package-org: ballerinax
      additional-build-flags: "-x :salesforce-examples:build"
      additional-release-flags: "-x :salesforce-examples:build"
      additional-publish-flags: "-x :salesforce-examples:build"
      